<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "UP Log" %></h1>
  <p>Borrow stuff!</p>
</section>

<section class="row">
  <article class="column">
    <ul>
      <%= for borrowable_item <- @borrowable_items do %>
        <li>
          <%= link borrowable_item.name, to: Routes.organization_borrowable_item_path(@conn, :show, borrowable_item.organization_id, borrowable_item) %>
        </li>
      <% end %>
    </ul>
  </article>
</section>
