<h1>New Borrow request</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.borrow_request_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.borrow_request_path(@conn, :index) %></span>
