<h1>Edit Borrowable item</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.borrowable_item_path(@conn, :update, @borrowable_item)) %>

<span><%= link "Back", to: Routes.borrowable_item_path(@conn, :index) %></span>
