<h1>New Borrowable item</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.organization_borrowable_item_path(@conn, :create, @organization)) %>

<span><%= link "Back", to: Routes.organization_borrowable_item_path(@conn, :index, @organization) %></span>
